.board{
	height: 200px;
	width: 200px;
	border: 1px solid black;
	display: inline-block;
	margin: 5px;
	color: #f4f4f4;
	font-size: 200px;
	font-family: sans-serif;
	text-align: center;
	background: #e4e4e4;
}